---
layout: master/page
title: Shred
permalink: index
---

<!-- Landingspagina -->

  <article class="header row">

    <section class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-6">
      <img src="{{ 'assets/img/logowhite.png' | relative_url }}" alt="logo">

      <p>Your <span class="bold">downhill longboarding</span> companion</p>

      <a href="#features">Start Shredding</a>
    </section>

  </article>

<!-- Track Your Runs -->

  <article id="track">

    <section class="row">
      <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-lg-3 col-lg-offset-2">
        <img id="features" src="{{ 'assets/img/phone.gif' | relative_url }}" alt="phone">
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-lg-5 col-lg-offset-1">
        <h1>Track your runs</h1>
        <p>
          Shred measures every single important detail of your descent,
          such as your top speed, elapsed time, average speed, distance,
          steepness and height difference. After recording, this data
          is presented on a handy dashboard, ready to share with your buddies.
          You can also check into a spot prior to recording.
        </p>
      </div>
    </section>

  </article>

<!-- Bookmark -->

  <article class="bookmark row">

    <section class="col-sm-12 col-md-4 col-md-offset-1">
      <h1>Bookmark your spots</h1>
      <p>What good is your killer descent time and top speed if you don’t know where
         it happened? With Shred, you can find interesting hills,
         set a start and end point, and bookmark them.
         This allows you to check into the nearest spot before starting your run. 
         You can also search for any nearby spots that other people have
         created and bookmark them too.
</p>

      <h2>Smartwatch Compatible</h2>
      <p>Taking off your gloves to start the recording on your iPhone and then
        putting it in your pocket can be bothersome.
        Because of this we’ve made an iWatch version of Shred that can be linked
        to your iPhone. You can also start recording by using the Volume Button
        on your iPhone or by pressing the Side Button on your iWatch.</p>
    </section>

    <section class="col-xs-10 col-xs-offset-1 col-md-5">
      <img class="img-responsive center" src="{{ 'assets/img/bg_section2.png' | relative_url }}" alt="app">
    </section>

  </article>

<!-- Create a Profile -->

  <article class="create row">

    <section class="col-sm-4 col-sm-offset-6">
      <h1>Create a profile. add friends.</h1>
      <p>Bombing a hill is always better when you’re doing it with friends.
        The same goes for using Shred. Add a profile picture,
        share your best stats and display two of your proudest stats below your
        profile information. You can easily find and add friends,
        check where they’ve been shredding and compare their shared stats with your own.
        A bit of healthy competition is always good.
      </p>
    </section>

  </article>

<!-- Atmosphere Pictures -->

  <article class="atmosphere hidden-xs hidden-sm">

    <figure>
      <img src="{{ 'assets/img/section4.png' | relative_url }}" alt="downhilling">
    </figure>

  </article>

<!-- Download -->

  <article class="app row" id="download">

    <section class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-6">
      <h1>Start Shredding</h1>
      <p>Support us by downloading our app on
        <span class="bold">iPhone</span> and/or <span class="bold">iWatch</span> and enhance your
        downhill longboarding experience.</p>

      <a href="https://itunes.apple.com/nl/genre/ios-sport/id6004?mt=8"><img src="{{ 'assets/img/download.png' | relative_url }}" alt="download"></a>
    </section>

  </article>
