<footer class="row" id="footer">

  <div class="logofooter col-sm-2">
    <img src="{{ 'assets/img/logo.svg' | relative_url }}" alt="logo">
  </div>

  <div class="menu col-sm-2 col-sm-offset-1">
    <a href="{{ 'blog' | relative_url }}">Blog</a>
    <a href="{{ '/#download' | relative_url }}">Dowload</a>
    <a href="{{ 'styleguide' | relative_url }}">Style Guide</a>
  </div>


  <div class="newsletter col-sm-3">
    <h1>Newsletter</h1>
    <p>Sign up for our newsletter</p>

    <input type="email" name="email" placeholder="e-mail adress">
  </div>

  <div class="submit col-sm-2">
    <input type="submit" value="Keep me posted">
  </div>





</footer>
