<header>

  <div>
    <a class="logo" href="{{ '/' relative_url }}"><img src="{{ 'assets/img/logo.svg' | relative_url }}"alt="logo"></a>
  </div>

  <nav>
    <a href="{{ '/#features' | relative_url }}">Features</a>
    <a href="{{ '/blog' | relative_url }}">Blog</a>
    <a href="#footer">Newsletter</a>
    <a class="download" href="{{ '#download' | relative_url }}">Download</a>
  </nav>
</header>
