<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        {{ site.title }}
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% assign navigation_pages = site.pages %}
            {% for p in navigation_pages %}
                {% if p.visibility != 'hidden' %}
                <li class="nav-item">
                <a href="{{ p.url }}" class="nav-item nav-link{% if p.url == page.url %} active{% endif %} m-l-1">
                    {{ p.title }}
                </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>
