---
layout: master/page
title: Blog
permalink: blog
---

  <div class="grey">

  <div class="blog">
    <h1>Blog.</h1>
  </div>


<ul class="posts">{% for post in site.posts %}
    <li>
        <p>Written on {{ post.date }}</p>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
    </li>{% endfor %}
</ul>

</div>
