---
layout: master/page
title: Styleguide
permalink: styleguide
---

<div class="grey">

  <div class="styleguide">
    <h1>Style guide.</h1>
  </div>

  <article class="utilities">

    <div class="row">
    <section class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h1>Logo.</h1>
      <p>Shred’s logo is a simple composite mark consisting of the word “Shred”,
         with slightly edited letters to recreate a slope.
         The black version is used on flat backgrounds with a light colour,
          while the white version of the logo is used on darker backgrounds and photos.</p>

      <a href="{{ '/assets/img/logo.png' | relative_url }}" download>(download logo.png)</a> <br>
      <a href="{{ '/assets/img/logo.svg | relative_url }}" download>(download logo.svg)</a> <br>
      <a href="{{ '/assets/img/logo.pdf | relative_url }}" download>(download logo.pdf)</a>

      <img class="img-responsive" src="{{ '/assets/img/styleguide1.png' | relative_url }}" alt="logo">

    </section>
    </div>

    <div class="row">
    <section class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h1>Used fonts.</h1>
      <p>The fonts used on the website are Open Sans
        (regular, extrabold) and Arial Narrow (bold, italic, all caps).
        Open Sans is used for paragraph text and subtitles.
        Arial Narrow is used exclusively for titles and headings.</p>

      <img class="img-responsive" src="{{ '/assets/img/styleguide2.png' | relative_url }}" alt="logo">
    </section>
    </div>

    <div class="row">
    <section class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h1>Colour Palette.</h1>
      <p>The most prominent colour used is the fiery red.
        It stands for energy and speed.The other colours are various shades of gray and off-white.
        These support the images and the red elements and are mostly used in paragraphs.
        Pure black and pure white are used only in the navigation and footer for contrast.</p>

      <img class="img-responsive" src="{{ '/assets/img/styleguide3.png' | relative_url }}" alt="logo">
    </section>
    </div>

    <div class="row">
    <section class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h1>Screen Designs.</h1>
      <p>The full-size screen designs can be viewed at this imgur album:<<<<...>>>>></p>

    </section>
    </div>

    <div class="row">
    <section class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h1>Used Images.</h1>
      <p>All used images can be viewed at this imgur album:<<<<<...>>>>></p>

    </section>
    </div>

    <div class="row">
    <section class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h1>Buttons.</h1>
      <p>The buttons are used for call to action purposes,
        as well as for confirming things such as the newsletter subscription.</p>

      <img class="img-responsive" src="{{ '/assets/img/styleguide4.png' | relative_url }}" alt="logo">
    </section>
    </div>

    <div class="row">
    <section class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h1>App-icoon.</h1>
      <a href="../assets/img/appicon.svg" download>(download app-icon, svg)</a> <br>
      <a href="../assets/img/appicon2.png" download>(download app-icon, large)</a> <br>
      <a href="../assets/img/appicon3.png" download>(download app-icon, small)</a>

      <img class="img-responsive" src="{{ '/assets/img/appicon.svg' | relative_url }}" alt="logo">

    </section>
    </div>

    <div class="row">
    <section class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h1>Forms.</h1>
      <p>The only input field present is the newsletter sign-up form, located in the footer.</p>

      <img class="img-responsive" src="{{ '/assets/img/form.png' | relative_url }}" alt="logo">

    </section>
    </div>

  </article>

</div>
