*:focus {
  outline: 0;
  outline: none;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "arial narrow";
  src: url(../fonts/ArialNarrowBoldItalic.ttf);
}


/* Navigation */

header {
  height: 200px;
  width: 100%;
}

.logo {
  text-align: center;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  > img {
    width: 200px;
  }
}

nav {
  float: left;
  margin-top: 30px;
  margin-right: 0px;
  > {
    a {
      display: inline-block;
      margin-left: 35px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      color: black;
      text-decoration: none;
      &:hover {
        color: #ea6047;
        transition: ease 0.2s;
      }
    }
    .download {
      color: #ea6047;
      text-decoration: none;
      border: 2px solid #ea6047;
      border-radius: 20px;
      padding: 4px 20px 4px 20px;
      margin-top: 20px;
      &:hover {
        color: white;
        background-color: #ea6047;
        transition: ease 0.2s;
        text-decoration: none;
      }
    }
  }
}

/* Header - Mobile */

.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.header {
  background-image: url(../img/banner_home.png);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  height: auto;
  > section {
    padding-top: 250px;
    padding-bottom: 300px;
    text-align: center;
    > {
      p {
        color: white;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 30px;
      }
      img {
        width: 250px;
      }
      a {
        color: #ea6047;
        font-size: 18px;
        background-color: white;
        border: 2px solid white;
        border-radius: 30px;
        padding: 10px 25px 10px 25px;
        &:hover {
          background-color: transparent;
          color: white;
          transition: ease 0.3s;
        }
      }
    }
  }
}

/* Track your runs - Mobile */

#track > section > div {
  text-align: center;
  margin-top: 25px;
  > {
    img {
      margin-top: -200px;
    }
    h1 {
      font-family: "arial narrow";
      text-transform: uppercase;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      color: #444444;
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}

/* Bookmark your spots */

.bookmark > section {
  margin-top: 150px;
  > h1 {
    font-family: "arial narrow";
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}

h2 {
  font-family: "arial narrow";
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.bookmark > section > {
  h2 {
    margin-top: 100px;
  }
  p {
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
    text-align: center;
  }
}

/* Create a profile */

.create {
  background-image: url(../img/bg_section3.png);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 100px;
  > section > {
    h1 {
      font-family: "arial narrow";
      text-transform: uppercase;
      font-size: 35px;
      color: white;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: white;
      margin-left: 25px;
      margin-right: 25px;
      font-size: 14px;
      text-align: center;
    }
  }
}

/* Atmosphere Pictures */

.atmosphere {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  > figure > img {
    width: 1000px;
  }
}

/* Start Shredding - Download */

.app {
  background-image: url(../img/bg_section5.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  > section > {
    h1 {
      font-family: "arial narrow";
      text-transform: uppercase;
      font-size: 40px;
      color: white;
      margin-top: 75px;
    }
    p {
      font-size: 21px;
      color: white;
      font-family: 'Open Sans', sans-serif;
    }
    a > img {
      width: 200px;
      margin-top: 50px;
      &:hover {
        opacity: 0.6;
        transition: ease 0.2s;
      }
    }
  }
}

/* Footer */

footer {
  margin-bottom: 40px;
  text-align: center;
  > {
    .logofooter {
      margin-left: 75px;
      margin-right: 75px;
      margin-top: 40px;
    }
    .menu {
      margin-top: 20px;
      text-align: center;
      > a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        display: block;
        margin-top: 20px;
      }
    }
    div > a:hover {
      color: #ea6047;
      transition: ease 0.2s;
    }
    .newsletter {
      text-align: center;
      margin-top: 100px;
    }
  }
}

.newsletter > h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  margin-top: 40px;
}

footer > .newsletter > p {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 14px;
  margin-top: 20px;
}

.newsletter > input {
  margin-top: 50px;
  border: 0;
  border-bottom: 1px solid black;
  width: 200px;
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

footer > .newsletter > input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

footer > .submit {
  margin-top: 50px;
  margin-left: 0px;
  > input {
    font-family: 'Open Sans', sans-serif;
    color: #ea6047;
    text-decoration: none;
    border: 2px solid #ea6047;
    border-radius: 20px;
    background-color: white;
    padding: 4px 20px 4px 20px;
    &:hover {
      color: white;
      background-color: #ea6047;
      transition: ease 0.2s;
      text-decoration: none;
    }
  }
}

/* Blog */

ul {
  list-style-type: none;
}

.grey {
  background-color: #F8F8F8;
}

.blog {
  background-image: url(../img/banner_blog.png);
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 200px;
  text-align: center;
  > h1 {
    font-family: "arial narrow";
    text-transform: uppercase;
    color: white;
    font-size: 42px;
  }
}

.posts {
  margin-left: 20px;
  margin-right: 20px;
  > li {
    padding-bottom: 100px;
    > {
      h1 {
        font-family: "arial narrow";
        text-transform: uppercase;
      }
      p {
        font-family: 'Open Sans', sans-serif;
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }
}

/* Style Guide */

.styleguide {
  background-image: url(../img/banner_styleguide.png);
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 200px;
  text-align: center;
  > h1 {
    font-family: "arial narrow";
    text-transform: uppercase;
    color: white;
    font-size: 42px;
  }
}

.utilities {
  padding-bottom: 100px;
  padding-top: 100px;
  > div > section {
    margin-bottom: 100px;
    > {
      h1 {
        font-family: "arial narrow";
        text-transform: uppercase;
      }
      p {
        font-family: 'Open Sans', sans-serif;
        color: #444444;
      }
      img {
        margin-top: 100px;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  /* Navigation */
  header {
    height: 100px;
    width: 100%;
  }
  nav {
    float: right;
    margin-top: 30px;
    margin-right: 35px;
    > .download {
      color: #ea6047;
      text-decoration: none;
      border: 2px solid #ea6047;
      border-radius: 20px;
      padding: 4px 20px 4px 20px;
      margin-top: 0px;
    }
  }
  /* Header */
  .header > section {
    text-align: left;
    > p {
      font-size: 21px;
    }
  }
  /* Track your runs */
  #track > section > div {
    > {
      img {
        margin-top: -200px;
      }
      h1 {
        font-size: 35px;
      }
      p {
        margin-left: 0;
        margin-right: 0;
        font-size: 16px;
      }
    }
    text-align: left;
  }
  /* Bookmark your spots */
  .bookmark > section {
    margin-top: 150px;
    > h1 {
      font-family: "arial narrow";
      text-transform: uppercase;
      font-size: 35px;
      text-align: left;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  h2 {
    font-family: "arial narrow";
    text-transform: uppercase;
    font-size: 35px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }
  .bookmark > section > {
    h2 {
      margin-top: 100px;
    }
    p {
      font-size: 16px;
      color: #444444;
      font-family: 'Open Sans', sans-serif;
      text-align: left;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  /* Create a profile */
  .create {
    background-image: url(../img/bg_section3.png);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 100px;
    > section > {
      h1 {
        font-family: "arial narrow";
        text-transform: uppercase;
        font-size: 35px;
        color: white;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
      }
      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: white;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .posts {
    margin-left: 100px;
    margin-right: 100px;
  }
  .app {
    background-image: url(../img/bg_section5.png);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: left;
  }
  /* Footer */
  footer {
    margin-bottom: 40px;
    > {
      .logofooter {
        margin-left: 20px;
        margin-top: 40px;
      }
      .menu {
        margin-top: 20px;
        text-align: left;
        > a {
          font-family: 'Open Sans', sans-serif;
          font-weight: 800;
          text-transform: uppercase;
          color: black;
          text-decoration: none;
          display: block;
          margin-top: 20px;
        }
      }
      div > a:hover {
        color: #ea6047;
        transition: ease 0.2s;
      }
      .newsletter {
        text-align: left;
        margin-top: 0;
        > {
          h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            color: black;
            font-size: 14px;
            margin-top: 40px;
          }
          p {
            font-family: 'Open Sans', sans-serif;
            color: #444444;
            font-size: 14px;
            margin-top: 20px;
          }
          input {
            margin-top: 50px;
            border: 0;
            border-bottom: 1px solid black;
            width: 200px;
            font-family: 'Open Sans', sans-serif;
            color: #444444;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
  select:focus, textarea:focus, button:focus {
    outline: none;
  }
  footer > .submit {
    margin-top: 150px;
    margin-left: -50px;
    > input {
      font-family: 'Open Sans', sans-serif;
      color: #ea6047;
      text-decoration: none;
      border: 2px solid #ea6047;
      border-radius: 20px;
      background-color: white;
      padding: 4px 20px 4px 20px;
      &:hover {
        color: white;
        background-color: #ea6047;
        transition: ease 0.2s;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  /* Track your runs */
  #track > section > div {
    > {
      img {
        width: 350px;
        margin-top: -200px;
      }
      h1 {
        font-size: 38px;
        margin-top: 50px;
      }
      p {
        margin-left: 0;
        margin-right: 0;
        font-size: 18px;
      }
    }
    margin-top: 75px;
  }
  /* Blog */
  .posts {
    margin-left: 350px;
    margin-right: 350px;
  }
  /* Start Shredding - Download */
  .app {
    background-image: url(../img/bg_section5.png);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    > section > {
      h1 {
        font-family: "arial narrow";
        text-transform: uppercase;
        font-size: 46px;
        color: white;
        margin-top: 75px;
      }
      p {
        font-size: 24px;
        color: white;
        font-family: 'Open Sans', sans-serif;
      }
      a > img {
        width: 200px;
        margin-top: 150px;
        &:hover {
          opacity: 0.6;
          transition: ease 0.2s;
        }
      }
    }
  }
}
